.accordion {
  @media (max-width: $mobile-max-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
  }
}

.accordion__button {
  display: none;

  @media (max-width: $mobile-max-width) {
    display: block;
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    stroke: $special-grey;
  }

  &--current {
    @media (max-width: $mobile-max-width) {
      width: 16px;
      height: 1px;
      background-color: $special-grey;
    }

    svg {
      @media (max-width: $mobile-max-width) {
        display: none;
      }
    }
  }

}
