.button {
  display: block;
  padding: 14px 28px;
  min-width: max-content;
  @include roboto-font;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  border: 1px solid $white;
  border-radius: 5px;

  &:visited {
    color: $white;
  }

  &:hover {
    border-color: $blue;
  }

  &:active {
    opacity: 0.5;
  }

  &--blue {
    color: $blue;
    border-color: $blue;

    &:visited {
      color: $blue;
    }

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &--opacity-white {
    background-color: rgba($white-rgb, 0.1);

    &:hover {
      opacity: 0.5;
    }

    &:active {
      border-color: $dark;
    }
  }
}
