.button {
  padding: 14px 28px;
  font-family: "Roboto Condensed","Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
}
