.contacts-link {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;

  @media (max-width: $tablet-max-width) {
    align-items: center;
  }
}

.contacts-link__item {
  min-width: max-content;
  font-family: "PT Mono", "Nimbus Mono L", "Courier New", monospace;
  font-size: 16px;
  line-height: 18px;
  color: $white;

  &:not(:last-child) {
    margin-right: 88px;

    @media (max-width: $tablet-max-width) {
      margin-right: 33px;
    }

    @media (max-width: $mobile-max-width) {
      margin-right: 23px;
    }
  }

  a {
    display: flex;
    align-items: center;
    color: inherit;

    svg {
      stroke: $blue;
    }

    &:visited {
      color:inherit;
    }

    &:hover {
      color: $blue;

      svg {
        stroke: $white;
      }
    }
    &:active {
      opacity: 0.5;
    }
  }

  span {
    @media (max-width: $tablet-max-width) {
      display: none;
    }
  }

  &--mail {
    svg {
      width: 19px;
      height: 14px;
      margin-right: 20px;

      @media (max-width: $tablet-max-width) {
        width: 25px;
        height: 19px;
        margin-right: 0;
      }
    }
  }

  &--telephone {
    svg {
      width: 18px;
      height: 18px;
      margin-right: 16px;

      @media (max-width: $tablet-max-width) {
        width: 24px;
        height: 24px;
        margin-right: 0;
      }
    }
  }
}
