.features {
  padding: 40px 37px 10px 40px;
  min-height: 299px;
  background-color: $white;
  border: 1px solid $border-light-grey;
  border-left: 3px solid $blue;
  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    padding: 24px 22px 19px 21px;
    min-height: 232px;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 28px;
    padding-left: 22px;
    padding-right: 17px;
    width: 100%;
    min-height: 232px;
    max-height: 310px;
  }

  &:not(:last-child) {
    @media (max-width: $mobile-max-width) {
      margin-bottom: 20px;
    }
  }

  &:first-child {
    position: relative;

    @media (max-width: $mobile-max-width) {
      padding-right: 18px;
    }

    &::before {
      @include single-grey-triangles;
      left: -173px;
      top: -68px;

      @media (max-width: $tablet-max-width) {
        display: none;
      }
    }
  }

  &:last-child {
    position: relative;

    &::before {
      @include single-grey-triangles;
      right: -347px;
      bottom: 17px;
      transform: rotate(180deg);

      @media (max-width: $tablet-max-width) {
        display: none;
      }
    }
  }

  svg {
    margin-bottom: 16px;
    width: 35px;
    height: 35px;
    fill: $blue;

    @media (max-width: $tablet-max-width) {
      margin-bottom: 5px;
    }
    @media (max-width: $mobile-max-width) {
      margin-bottom: 10px;
   }
  }

  &--providers {
    @media (max-width: $mobile-max-width) {
      padding-right: 11px;

      svg {
        margin-bottom: 5px;
      }
    }
  }

  &--promptness {
    svg {
      width: 29px;
    }
  }

  &--confidentiality {
    @media (max-width: $mobile-max-width) {
      padding-right: 12px;
    }

    svg {
      margin-bottom: 19px;
      width: 36px;
      height: 31px;

      @media (max-width: $tablet-max-width) {
        margin-bottom: 5px;
      }
    }

    h3 {
      @media (max-width: $tablet-max-width) {
        margin-bottom: 13px;
      }
    }

  }

  &--personalization {
    @media (max-width: $mobile-max-width) {
      padding-bottom: 21px;
    }

    svg {
      @media (max-width: $mobile-max-width) {
        margin-bottom: 8px;
      }
    }

    h3 {
      @media (max-width: $mobile-max-width) {
        margin-bottom: 13px;
      }
    }
  }

  &:hover {
    background-color: $blue;

    h3, p {
    color: $white;
    }

    svg {
      fill: $white;
    }
  }
}
