.navigation {
  column-count: 2;
  font-size: 15px;
  line-height: 25px;
  list-style: none;
  column-gap: 31%;

  @media (max-width: $tablet-max-width) {
    column-count: 1;
  }

  a {
    color: inherit;
    opacity: 0.5;

    &:visited {
      color: inherit;
    }

    &:hover {
      color: $blue;
    }

    &:active {
      color: inherit;
      opacity: 1;
    }
  }
}

.navigation__column-list {
  padding-left: 0;
  list-style: none;
}

.navigation__item {
  min-width: max-content;
}
