.page-footer {
  @include mono-font;
  color: $dark;

  h2 {
    margin-top: 0;
    margin-bottom: 26px;
    @include roboto-font;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  a {
    &:not(.page-footer__logo) {
      color: inherit;
      opacity: 0.5;

      &:visited {
        color:inherit
      }

      &:hover {
        color: $blue;
      }

      &:active {
        color: inherit;
        opacity: 1;
      }
    }
  }
}

.page-footer__top-container {
  margin-bottom: 15px;
  padding-bottom: 55px;
  width: 100%;
  border-bottom: 1px solid rgba($border-grey, 0.2);

  @media (max-width: $tablet-max-width) {
    padding-bottom: 2px;
  }

  @media (max-width: $mobile-max-width) {
    border-style: none;
  }
}

.page-footer__container {
  display: grid;
  grid-template-columns: 223px 1fr 333px;
  margin: 0 auto;
  padding-top: 65px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1470px;

  @media (max-width: $tablet-max-width) {
    grid-template-columns: max-content 1fr max-content;
    margin-bottom: 33px;
    padding-top: 19px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $mobile-max-width) {
    display: block;
    padding-top: 46px;
  }
}

.page-footer__link-container {
  @media (max-width: $tablet-max-width) {
    margin-bottom: 40px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
    border-bottom: 1px solid rgba($border-grey, 0.2);
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 28px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 48px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 5px;
  }
}

.page-footer__logo-image {
  margin-right: 7px;
  width: 52px;
  height: 52px;
}

.page-footer__logo-title {
  width: 148px;
  height: 45px;
}

.page-footer__copyright-top {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: 0.5;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 22px;
  }
}

.page-footer__social {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 0;

  @media (max-width: $tablet-max-width) {
    padding-top: 11px;
  }
}

.page-footer__navigation {
  display: flex;
  justify-content: center;

  @media (max-width: $tablet-max-width) {
    padding-left: 25px;
  }
}


.page-footer__navigation-content {
  min-width: 54%;

  @media (max-width: $min-desktop-width) {
    width: 100%;
  }
}

.page-footer__navigation-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.page-footer__contacts {
  @media (max-width: $tablet-max-width) {
    grid-column-start: 3;
    padding-right: 34px;
  }
}

.page-footer__bottom-container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 10%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1470px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (max-width: $min-desktop-width) {
    column-gap: 5%;
  }

  @media (max-width: $tablet-max-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 25px;
    padding-bottom: 25px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    justify-content: center;
    padding-left: 18px;
    padding-right: 18px;
  }


  p {
    margin-top: 0;
    margin-bottom: 0;
    min-width: max-content;
    opacity: 0.5;

    @media (max-width: $tablet-max-width) {
      display: none;
    }
  }
}

.page-footer__copyright {
  margin-right: 59px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-footer__privacy {
  width: max-content;
}

.page-footer__developer {
  min-width: max-content;
}

.page-footer__accordion-section {
  @media (max-width: $mobile-max-width) {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgba($border-grey, 0.2);
  }

  h2 {
    @media (max-width: $mobile-max-width) {
      height: 73px;
    }
  }
}

.page-footer__accordion-button {
  display: none;
  @media (max-width: $mobile-max-width) {
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    stroke: $special-grey;
  }

  &--current {
    @media (max-width: $mobile-max-width) {
      width: 16px;
      height: 1px;
      background-color: $special-grey;
    }

    svg {
      @media (max-width: $mobile-max-width) {
        display: none;
      }
    }
  }
}

.page-footer__accordion-content {
  &--hidden {
    @media (max-width: $mobile-max-width) {
      display: none;
    }
  }
}
