.page-footer {
  @include mono-font;
  color: $dark;

  h2 {
    margin-top: 0;
    margin-bottom: 26px;

    @include roboto-font;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media (max-width: $mobile-max-width) {
      margin-bottom: 0;
    }
  }

  a:not(.page-footer__logo) {
    color: inherit;
    opacity: 0.5;

    &:visited {
      color: inherit;
    }

    &:hover {
      color: $blue;
    }

    &:active {
      color: inherit;
      opacity: 1;
    }
  }
}

.page-footer__top-container {
  margin-bottom: 15px;
  padding-bottom: 55px;
  width: 100%;
  border-bottom: 1px solid rgba($border-grey, 0.2);

  @media (max-width: $tablet-max-width) {
    padding-bottom: 2px;
  }

  @media (max-width: $mobile-max-width) {
    border-style: none;
  }
}

.page-footer__container {
  display: grid;
  grid-template-columns: 223px 1fr 333px;
  margin: 0 auto;
  padding-top: 65px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1470px;

  @media (max-width: $tablet-max-width) {
    grid-template-columns: max-content 1fr max-content;
    margin-bottom: 33px;
    padding-top: 19px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $mobile-max-width) {
    display: block;
    padding-top: 46px;
    margin-bottom: 0;
  }
}

.page-footer__link-container {
  @media (max-width: $tablet-max-width) {
    margin-bottom: 40px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
    border-bottom: 1px solid rgba($border-grey, 0.2);
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 0;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 48px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 5px;
  }

  img {
    width: 216px;
    height: 52px;
  }
}

.page-footer__copyright-top {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-left: 12px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: 0.5;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 22px;
    padding-left: 0;
  }
}

.page-footer__social {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 0;

  @media (max-width: $tablet-max-width) {
    padding-top: 11px;
  }
}

.page-footer__navigation {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  padding-left: 10px;

  @media (max-width: $tablet-max-width) {
    padding-left: 25px;
    margin-right: 0;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 0;
  }
}


.page-footer__navigation-content {
  min-width: 54%;
  padding-left: 6px;

  @media (max-width: $min-desktop-width) {
    width: 100%;
  }

  @media (max-width: $tablet-max-width) {
    padding-left: 0;
  }
}

.page-footer__navigation-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.page-footer__contacts {
  @media (max-width: $tablet-max-width) {
    grid-column-start: 3;
    padding-right: 34px;
  }

  @media (max-width: $mobile-max-width) {
    padding-right: 0;
  }
}

.page-footer__bottom-container {
  display: grid;
  grid-template-columns: 156px 233px 20.5% 1fr;
  column-gap: 4.8%;
  row-gap: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1470px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (max-width: $tablet-max-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 25px;
    padding-bottom: 25px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    justify-content: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 11px;
    padding-bottom: 0;
    text-align: center;
  }


  p {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.5;

    @media (max-width: $tablet-max-width) {
      display: none;
    }
  }
}

.page-footer__copyright {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-footer__privacy {
  justify-self: flex-end;

  @media (max-width: $tablet-max-width) {
    padding-left: 0;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 13px;
    width: 100%;
  }
}

.page-footer__developer {
  margin-left: auto;

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.page-footer__accordion-section {
  @media (max-width: $mobile-max-width) {
    position: relative;
    border-bottom: 1px solid rgba($border-grey, 0.2);
    cursor: pointer;
  }
}

.page-footer__accordion-title {
  @media (max-width: $mobile-max-width) {
    padding-top: 28px;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 73px;
  }

  &::after {
    @media (max-width: $mobile-max-width) {
      content: "";
      position: absolute;
      top: 28px;
      right: 17px;
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("../img/icon/plus.svg");
      background-color: transparent;
    }
  }

  &--current {
    &::after {
      @media (max-width: $mobile-max-width) {
        top: 35px;
        width: 16px;
        height: 1px;
        background-color: $special-grey;
        background-image: none;
      }
    }
  }
}

.page-footer__accordion-content {
  @media (max-width: $mobile-max-width) {
    padding-bottom: 26px;
    padding-left: 14px;
    width: 90%;
  }

  &--hidden {
    @media (max-width: $mobile-max-width) {
      display: none;
    }
  }
}
