.page-header {
  margin-bottom: 109px;
  padding-top: 33px;
  background-image: url("../img/others/head-waves.png"),
  linear-gradient($dark);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/others/head-waves@2x.png"),
    linear-gradient($dark);
  }

  @media (max-width: $tablet-max-width) {
    margin-bottom: 54px;
    padding-top: 20px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 37px;
    padding-top: 17px;
  }
}

.page-header__logo {
  margin-right: 30px;
}

.page-header__logo-image {
  margin-right: 10px;
  width: 52px;
  height: 52px;


  @media (max-width: $mobile-max-width) {
    width: 38px;
    height: 38px;
  }
}

.page-header__logo-title {
  width: 134px;
  height: 45px;

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.page-header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 225px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1470px;


  @media (max-width: $tablet-max-width) {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 116px;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 228px;
  }
}

.page-header__contacts {
  margin-top: 0;
  margin-right: 50px;
  margin-bottom: 0;
  padding-left: 0;
  flex-grow: 1;

  @media (max-width: $tablet-max-width) {
    margin-right: 0;
  }
}

.page-header__order-call {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header__section {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 278px;
  max-width: 1470px;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 163px;
    padding-left: 86px;
    padding-right: 25px;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 70px;
  }
}
