.page-header {
  position: relative;
  margin-bottom: 37px;
  padding-top: 33px;
  background-image: url("../img/others/head-waves.png"), linear-gradient($dark);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/others/head-waves@2x.png"), linear-gradient($dark);
  }

  @media (max-width: $tablet-max-width) {
    margin-bottom: 54px;
    padding-top: 20px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 37px;
    padding-top: 17px;
  }
}

.page-header__logo {
  margin-right: 30px;
  flex-shrink: 0;

  img {
    width: 202px;
    height: 52px;

    @media (max-width: $mobile-max-width) {
      width: 38px;
      height: 38px;
    }
  }
}

.page-header__link {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 225px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1470px;


  @media (max-width: $tablet-max-width) {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 113px;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 228px;
  }
}

.page-header__contacts {
  margin: 0 50px 0 0;
  padding-left: 0;
  padding-top: 18px;
  margin-left: auto;

  @media (max-width: $tablet-max-width) {
    margin-right: 0;
    padding-bottom: 5px;
    padding-top: 0;
  }
}

.page-header__order-call {
  margin-top: 5px;
  height: 45px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header__section {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 278px;
  max-width: 1470px;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 163px;
    padding-left: 89px;
    padding-right: 25px;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 15px;
    padding-right: 13px;
    padding-bottom: 70px;
  }
}
