.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
  min-height: 100%;

  &--opened-modal {
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black-rgb, 0.5);
      z-index: 5;
    }
  }
}
