.page-main {
  padding-top: 72px;
  overflow: hidden;

  @media (max-width: $tablet-max-width) {
    padding-top: 0;
  }

  h2, h3 {
    margin-top: 0;
    @include roboto-font;
    font-weight: normal;
  }

  p {
    margin-top: 0;
    @include mono-font;
  }
}

.page-main__section-center {
  margin: 0 auto 105px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1230px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 55px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 57px;
    padding-left: 14px;
    padding-right: 18px;
  }

  &--about {
    padding-left: 209px;

    @media (max-width: $tablet-max-width) {
      margin-bottom: 84px;
      padding-left: 195px;
      padding-right: 0;
    }

    @media (max-width: $mobile-max-width) {
      margin-bottom: 62px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &--flex {
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: $tablet-max-width) {
    justify-content: center;
  }
}

.page-main__section-full {
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  &--service {
    padding-top: 93px;

    @media (max-width: $tablet-max-width) {
      padding-top: 53px;
      padding-bottom: 25px;
    }

    @media (max-width: $mobile-max-width) {
      padding-bottom: 10px;
    }
  }
}
