//colours
$white: #ffffff;
$white-rgb: rgb(255, 255, 255);
$blue: #00b2ff;
$dark: #1b2d37;
$grey: #666666;
$light-grey: #999999;
$special-grey: #cdcdcd;
$border-grey: rgb(98, 105, 98);
$border-light-grey: #ebebeb;
$black-rgb: rgb(0, 0, 0);

// Viewport
$tablet-max-width: 1023px;
$mobile-max-width: 767px;
$desktop-min-width: 1024px;
$min-desktop-width: 1250px;

//mixin

@mixin mono-font {
  font-family: "PT Mono", "Nimbus Mono L", "Courier New", monospace;
}

@mixin roboto-font {
  font-family: "Roboto Condensed", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
}

@mixin single-grey-triangles {
  content: "";
  position: absolute;
  width: 298px;
  height: 298px;
  background-image: url("../img/triangles/single-grey.svg");
  background-repeat: no-repeat;
  z-index: -5;
}

@mixin single-ellipse-triangles {
  content: "";
  position: absolute;
  width: 636px;
  height: 636px;
  background-image: url("../img/triangles/single-ellipse-grey.svg");
  background-repeat: no-repeat;
  z-index: -5;
}

@mixin single-white-triangles ($width, $height) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  background-image: url("../img/triangles/single-white.svg");
  background-repeat: no-repeat;
}
