//global
@import "global/fonts.scss";
@import "global/global.scss";
@import "global/variables.scss";

//blocks
@import "blocks/accordion.scss";
@import "blocks/button.scss";
@import "blocks/contacts-link.scss";
@import "blocks/contacts.scss";
@import "blocks/navigation.scss";
@import "blocks/page-body.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/social.scss";
